# Set the default behavior for files that don't match any pattern
* text=auto

# Source code files
*.py text

# Web development files
mysql-react/frontEnd/src/components/pages/**/*.jsx text
mysql-react/frontEnd/src/misc/**/*.jsx text
mysql-react/frontEnd/src/Page_css/**/*.css text
mysql-react/frontEnd/src/landingPage/**/*.css text
mysql-react/Backend/**/*.js text


# SQL files
nfl_final.sql text

# Ignore files
.gitignore text
.gitattributes text
