# Set the default behavior for files that don't match any pattern
* linguist-vendored

# Source code files
*.py linguist-language=python
mysql-react/frontEnd/src/components/pages/**/*.jsx linguist-language=javascript
mysql-react/frontEnd/src/misc/**/*.jsx linguist-language=javascript
mysql-react/frontEnd/src/Page_css/**/*.css linguist-language=css
mysql-react/frontEnd/src/landingPage/**/*.css linguist-language=css
mysql-react/Backend/**/*.js linguist-language=javascript

# SQL files
nfl_final.sql linguist-language=sql

# Ignore files
.gitignore linguist-vendored
.gitattributes linguist-vendored

